<!DOCTYPE html>
<html>

<body>
    <p style="text-align: center;"><strong><span style="color: #ff6600;">Staff <span
                    style="color: #0000ff;">Allocation</span></span></strong></p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: left;"><span style="color: #000000;">Hello&nbsp; <strong><%=projectManager%></strong> ,</span>
    </p>
    <p style="text-align: left;">&nbsp;</p>
    <p style="text-align: left;">Your request&nbsp; &nbsp;<strong><%=requestName%></strong>&nbsp; &nbsp;for
        employee&nbsp;&nbsp;<strong><%=employeeName%></strong>&nbsp; &nbsp;has been&nbsp;<strong>
            <%=statusResponse%>ed</strong> .</p>
    <p style="text-align: left;">Remark*&nbsp; :&nbsp; <%=remark%> .</p>
    <p style="text-align: left;">&nbsp;</p>
    <p style="text-align: left;">&nbsp;</p>
    <p>Thanks &amp; regards,</p>
    <p><strong>RMG Team</strong></p>
    <p>NSEIT Limited</p>
    <p>Web:&nbsp;<a href="http://www.nseit.com/" target="_blank" rel="noopener">www.nseit.com</a>&nbsp;| Email: rmg<a
            href="mailto:@nseit.co" target="_blank" rel="noopener">@nseit.co</a>m</p>
    <p>&nbsp;</p>
    <p><small><em>*This is system&nbsp;generated e-mail by Staff </em>Allocation<em>&nbsp;Service </em>@NSEIT .<em>DO
                NOT REPLY..!!</em></small></p>
    <p>&nbsp;</p>
    <p style="text-align: left;">&nbsp;</p>
    <p style="text-align: left;">&nbsp;</p>

</body>

</html>